<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>로그인</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        // ['쿠키'라는 개념에 대해 알아봅시다]
        // 로그인을 구현하면, 반드시 쿠키라는 개념을 사용합니다.
        // 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
        // 쿠키가 있기 때문에, 한번 로그인하면 네이버에서 다시 로그인할 필요가 없는 것입니다.
        // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.
        function sign_in() {
            let username = $("#input-id").val()
            let password = $("#input-password").val()

            if (username == "") {
                alert("아이디를 입력해주세요.")
                $("#input-id").focus()
                return;
            }

            if (password == "") {
                alert("비밀번호를 입력해주세요.")
                $("#input-password").focus()
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    id_give: username,
                    pw_give: password
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token']);
                        $.cookie('user_id', response['user_id']);
                        alert('로그인 완료!')
                        window.location.href = '/user/main'
                    } else {
                        alert(response['msg'])
                    }
                }
            });
        }
    </script>

</head>
<body>
<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <label for="" class="label">로그인!</label>
                    <div class="box">
                        <div class="field">
                            <label for="" class="label">ID</label>
                            <div class="control has-icons-left">
                                <input type="text" placeholder="아이디를 적어주세용" class="input" id="input-id">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" placeholder="*******" class="input" id="input-password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success" onclick="sign_in()">
                                로그인
                            </button>
                            <button class="button is-warning" onclick="location.href='/sign_up'">
                                회원가입
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
